/* a {
   
   } */
.icons{
    text-decoration: none;
    color: black;
}
.form_size{
    width: 50%;
    height: 80%;
    position: absolute;
    left: 25%;

}
.login_page{
    width: 30%;
    height: 60%;
    position: absolute;
    left: 35%;
    top: 15%;
}